<form action="<%= (typeof actionPath === 'undefined') ? '/deals' : actionPath %>", method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
    <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>
  
  <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" value="<%= formData.title %>">
  </div>
  
  <div class="form-group">
      <label for="content">Tell us more about the deal</label>
      <textarea name="content" class="form-control summernote">
          <%= formData.content %>
      </textarea>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" name="price" class="form-control" value="<%= formData.price %>">
</div>

<div class="form-group">
  <label for="websiteURL">Website URL</label>
  <input type="text" name="websiteURL" class="form-control" value="<%= formData.websiteURL %>">
</div>

<div class="form-group">
  <label for="status">Is this a hot deal or warm?</label>
  <select name="status" id="form-control">
      <option value="Hot">Hot</option>
      <option <%= formData.status && formData.status === 'Warm' ? 'selected' : null%> value="Warm">Warm</option>
  </select>
</div>


  <div class="form-group">
      <button class="btn btn-dark">Submit</button>
  </div>
</form>